<button mat-mini-fab id="createBtn" color="primary" data-cy="createDevice" (click)="createDevice()">
    <mat-icon style="color: #ffd900;">add</mat-icon>
</button>
<div class="main-div">
    <mat-card>
        <mat-card-content>
          <div *ngIf="deviceList">
            <ul style="list-style-type: none; padding: 0; margin: 0;">
              <li *ngFor="let device of deviceList | async">
                <mat-card style="background-color: white; margin: 25px; width: 91.5%;">
                  <div style="height: 10px;">
                    Id: {{device.id}}, Comment: {{device.comment}}
                    <div style="float: right;">
                      <button mat-mini-fab color="primary" data-cy="updateDevice" (click)="updateDevice(device.id)">
                        <mat-icon>edit</mat-icon>
                      </button>
                      <button mat-mini-fab color="warn" data-cy="deleteDevice" (click)="deleteDevice(device.id)">
                        <mat-icon>delete</mat-icon>
                      </button>
                      <input type="checkbox" (click)="addDeviceId(device.id)">
                    </div>
                  </div>
                </mat-card>
              </li>
            </ul>
            <div style="float: right; margin-right: 2.5%;">
              <button *ngIf="isSuperAdminLoggedIn" mat-raised-button color="primary" style="margin-right: 20px;" (click)="deviceCommandline()">
                <p style="color: #ffd900;">Commandline input</p>
              </button>
              <button *ngIf="isAdminLoggedIn" mat-raised-button color="primary" style="margin-right: 20px;" (click)="updateDeviceRunHours()">
                <p style="color: #ffd900;">Update run hours</p>
              </button>
              <button *ngIf="isAdminLoggedIn" mat-raised-button color="primary" (click)="updateDeviceRuntimes()">
                <p style="color: #ffd900;">Update run minutes</p>
              </button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
</div>