<div *ngIf="deviceList">
  <ul>
    <li *ngFor="let device of deviceList | async">
      Id: {{device.id}}, Comment: {{device.comment}}
      <button mat-mini-fab color="primary" data-cy="updateDevice" (click)="updateDevice(device.id)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-mini-fab color="warn" data-cy="deleteDevice" (click)="deleteDevice(device.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </li>
  </ul>
</div>

<button mat-mini-fab id="createBtn" data-cy="createDevice" (click)="createDevice()">
  <mat-icon>add</mat-icon>
</button>
