<mat-form-field style="width: 100%;">
  <p>Type the hour you want the device(s) to start counting people at below</p>
  <input matInput type="number" minlength="1" min="0" max="24" #fromHour required>
</mat-form-field>
<mat-form-field style="width: 100%;">
  <p>Type the hour you want the device(s) to stop counting people at below</p>
  <input matInput type="number" minlength="1" min="0" max="24" #toHour required>
</mat-form-field>
<button mat-mini-fab color="primary" style="float: right;"
        (click)="updateHoursToRunBetween(fromHour.value, toHour.value)">
  <mat-icon style="color: #ffd900;">done</mat-icon>
</button>
