mat-form-field {
  padding: 5px;
  text-align: center;
}

#right {
  text-align: right;
}

div {
  text-align: center;
  // margin: 0 auto;
}


#deviceList {
  float: right;
  overflow: scroll;
  width: 45%;
  height: 25%;
  max-height: 225px;
  margin: 10px;
  border: 1px dotted #fd9fb3;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  /*width: 120px;*/
  text-align: center;
  border-radius: 6px;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;

  /*
    bottom: 100%;
      left: 50%;
      margin-left: -60px;  Use half of the width (120/2 = 60), to center the tooltip */
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

#chartStat {
  width: 60%;
  margin: 0 auto;
}


.mat-card:not([class*=mat-elevation-z]),.mat-card {
  box-shadow: none;
  border-radius: 0px;
  padding: 0px;
}

.mat-card {
  background-color: #e8e8e8;
}

.mat-expansion-panel-header {
  padding: 0 16px;
  font-family: SansSerif, sans-serif;
  font-size: 18px;
}

.mat-expansion-panel:not([class*=mat-elevation-z])
{
  box-shadow: none;
}

.mat-expansion-panel {
  border-radius: 0px;
  background: #860f0f;
}

.mat-expansion-indicator::after {
  color: #e8e8e8;
}


.container {
  background-color: #fff;
}

#expansion-panel-header {
  background-color: #fff;
}

#expansion-panel-title {
  color: #e8e8e8;
}

.expansion-content div {
  padding: 15px;

}

.device-name {
  font-family: SansSerif, sans-serif;
  font-size: 20px;
  padding: 14px 10px;
  background-color: #e8e8e8;
  color: #424242;
}

.mat-card-actions {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 10px;
  width: 100%;
}

.mat-expansion-panel:not(.mat-expanded):not([aria-disabled=true]) .mat-expansion-panel-header:hover {
  background: #860f0f;
}

.expansion-content[_ngcontent-c6] div[_ngcontent-c6] {
  background-color: #860f0f;
  color: #e8e8e8;
}

@media only screen and (max-width: 600px) {
  #device-container {
    max-width: 100%;
    min-width: 100%;
    margin: 20px 0;
  }
}

@media only screen and (min-width: 600px) {
  #device-container {
    max-width: 46%;
    min-width: 46%;
    margin: 13px 2%;
  }
}

@media only screen and (min-width: 960px) {
  #device-container {
    max-width: 40%;
    min-width: 40%;
    margin: 13px 5%;
  }
}
