.main-div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-form-field {
  padding: 5px;
  text-align: center;
}

div {
  text-align: center;
}

#deviceList {
  overflow: scroll;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: #ffd900;
  color: white;
  /*width: 120px;*/
  text-align: center;
  border-radius: 6px;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.mat-card:not([class*=mat-elevation-z]), .mat-card {
  box-shadow: none;
  border-radius: 0px;
  padding: 0px;
}

.mat-card {
  background-color: white;
  margin-top: 40px;
  width: 100%;
}

.mat-expansion-panel-header {
  padding: 0 16px;
  font-size: 18px;
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
  box-shadow: none;
}

.mat-expansion-panel {
  border-radius: 0px;
  background: white;
}

.mat-expansion-indicator::after {
  color: white;
}

.container {
  background-color: white;
}

#expansion-panel-header {
  background-color: white
}

.expansion-content div {
  padding: 15px;
}

.device-name {
  font-size: 20px;
  padding: 14px 10px;
  background-color: #3A52C2;
  color: #ffd900;
  border-radius: 5px;
}

.mat-card-actions {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 10px;
  width: 100%;
}

.mat-expansion-panel:not(.mat-expanded):not([aria-disabled=true]) .mat-expansion-panel-header:hover {
  background: white;
}

.expansion-content[_ngcontent-c6] div[_ngcontent-c6] {
  background-color: #3A52C2;
  color: white;
}
