.big-navigation-container {
  display: block;
  width: 80%;
  text-align: right;
  margin-right: 20px;
  margin-left: 20px;
}

.screen-navigation-controls {
  font-size: 16px;
  color: #ffd900;
  text-decoration: none;
  margin: 0 20px;
}

.mat-toolbar {
  background: #4550AC;
}

a {
  text-shadow: -.25px -.25px 0 transparent,
  .25px .25px transparent;
}

@media only screen and (max-width: 600px) {
  #logo {
    width: 86%;
    margin-top: 10px;
  }
}
