<div>

  <mat-toolbar color="#ffd900">

    <div class="big-navigation-container">

      <a *ngIf="isLoggedIn" routerLink="" class="screen-navigation-controls"> Dashboard </a>

      <a *ngIf="isLoggedIn" routerLink="/user" class="screen-navigation-controls"> Userpage </a>

      <a *ngIf="isAdminLoggedIn" routerLink="/users" class="screen-navigation-controls"> Users </a>

      <a *ngIf="isAdminLoggedIn" routerLink="/devices" class="screen-navigation-controls"> Devices </a>

      <a *ngIf="isLoggedIn" routerLink="/login" class="screen-navigation-controls" id="logout" (click)="logout()"> Log
        Out </a>

    </div>

  </mat-toolbar>

</div>
