<div *ngIf="data.length > 0">
<form [formGroup]="deviceOutputForm" (ngSubmit)="updateDeviceOutput()">
  <div *ngFor="let deviceOutput of data">
    {{deviceOutput.timestamp | date: 'yyy-MM-dd HH:mm'}}
    <mat-form-field>
      <input matInput type="number" value="{{deviceOutput.number_of_people}}" placeholder="number of people" formControlName="{{deviceOutput.id}}">
    </mat-form-field>
  </div>
  <button mat-button type="submit">Update</button>
</form>
</div>

<div *ngIf="data.length === 0">
  <form [formGroup]="deviceOutputForm" (ngSubmit)="addDeviceOutput()">
    <mat-form-field>
      <input matInput type="number" value="0" placeholder="number of people" formControlName="number_of_people">
    </mat-form-field>
    <button mat-button type="submit">Add</button>
  </form>
</div>
