<div class="loginBox">
    <form [formGroup]="loginForm" (ngSubmit)="login()" class="form">
        <mat-form-field>
            <input matInput placeholder="Username" type="text" formControlName="username" id="username">
        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput placeholder="Password" type="password" formControlName="password" id="password">
        </mat-form-field>
        <br>
        <button mat-button type="submit" id="loginBtn">Log in</button>
    </form>
</div>
