<div *ngIf="deviceOutputList">
  <ul>
    <li *ngFor="let o of deviceOutputList | async">
      Id: {{o.id}}, Device: {{o.device_id}}, #: {{o.number_of_people}}, Date: {{o.timestamp}}
      <button mat-mini-fab color="primary" (click)="updateDeviceOutput(o.id)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-mini-fab color="warn" (click)="deleteDeviceOutput(o.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </li>
  </ul>
</div>
<button mat-mini-fab color="primary" id="createBtn" data-cy="createDeviceOutput" (click)="createDeviceOutput()">
  <mat-icon style="color: #ffd900;">add</mat-icon>
</button>
