<form>
 <input type="number" name="quantity" min="1" value="{{pickedNumber}}">
  <input type="submit">
  {{pickedNumber}}
</form>

<div class="panel-body" align="center">
  <h1 style="align-items: center">my NO CSS table</h1>
  <table>
    <tr>
      <th *ngFor="let col of getDaysForCurrentWeek()">
        {{col}}
      </th>
    </tr>
    <tr *ngFor="let row of rows">
      <td *ngFor="let col of getDaysForCurrentWeek()" (click)="getDeviceOutputForValue(row, 60, col)">
        {{row[col]}}
      </td>
    </tr>
  </table>
</div>

