<form (ngSubmit)="updateTimeInterval()">
  <input type="number" name="quantity" min="10" value="{{timeInterval}}" [formControl]="timeIntervalForm">
  <input type="submit">
</form>

<div lass="panel-body" align="center">
  <button (click)="changeWeekWithArrow(false)" style="display: inline-block">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <h1 style="display: inline-block">Device Output Table</h1>
  <button (click)="changeWeekWithArrow(true)">
    <mat-icon>arrow_forward</mat-icon>
  </button>
</div>

<div class="panel-body" align="center">

  <table>
    <tr>
      <th *ngFor="let col of headers">
        {{col}}
      </th>
    </tr>
    <tr *ngFor="let row of rows">
      <td *ngFor="let col of headers" (click)="getDeviceOutputForValue(row, col)">
        {{row[col]}}
      </td>
    </tr>
  </table>
</div>

