<mat-card style="width: fit-content; background-color: #ffd900; margin: 40px; padding: 20px; float: left; position: absolute; z-index: 2;">
  <mat-card style="width: fit-content; background-color: white;">
    <mat-card-content>
      <p>Change the time interval of the people count:</p>
      <mat-form-field (ngSubmit)="updateTimeInterval()">
        <input matInput type="number" name="quantity" min="9" value="{{timeInterval}}"
               [formControl]="timeIntervalForm">
      </mat-form-field>
      <button mat-mini-fab color="primary" style="float: right;" type="submit" (click)="updateTimeInterval()">
        <mat-icon style="color: #ffd900;">done</mat-icon>
      </button>
    </mat-card-content>
  </mat-card>
</mat-card>
<div class="main-div" style="z-index: 1;">
  <div lass="panel-body" align="center">
    <button mat-mini-fab (click)="changeWeekWithArrow(false)" color="primary"
            style="display: inline-block; color: #ffd900;">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <h1 style="display: inline-block; margin-left: 20px; margin-right: 20px;">Device Output Table</h1>
    <button mat-mini-fab (click)="changeWeekWithArrow(true)" color="primary" style="color: #ffd900;">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
    <table style="width: 1000px; height: 750px;">
      <tr>
        <th *ngFor="let col of headers" style="width: 40px; height: 40px;">
          {{col}}
        </th>
      </tr>
      <tr *ngFor="let row of rows" style="width: 40px; height: 20px;">
        <td *ngFor="let col of headers" style="width: 40px; height: 20px;" (click)="getDeviceOutputForValue(row, col)">
          {{row[col]}}
        </td>
      </tr>
    </table>
  </div>
</div>

