.main-div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 26px;
  min-width: 1000px;
  min-height: 750px;
  position: absolute;
}

.table {
  margin: 10px;
  width: 100%;
}

#drag:hover {
  cursor: pointer;
  background-color: #89cff0;
}

.orderHeader {
  cursor: pointer;
}

.orderHeader:hover {
  background-color: white;
}

.table-cell {
  text-align: center;
}

tr:nth-child(even) {
  background-color: rgba(215, 235, 253, 0.571);
}


